<nav class="navbar navbar-expand-lg navbar-dark bg-primary px-4">
  <a class="navbar-brand fw-bold" href="#">Vet System</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
          aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
    <ul class="navbar-nav align-items-center">
      <li class="nav-item me-3">
        @if (localStorage.getItem('username') != null){
        <span class="nav-link text-light" >
          <i class="bi bi-person-circle me-1"></i>
          <span class="badge bg-light text-primary fw-semibold px-3 py-2 rounded-pill">
            {{ localStorage.getItem('username') }}
          </span>
        </span>
        }
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/add-appointment">Add Appointment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/list-appointments">List Appointments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-warning" (click)="logout()">Sign Out</a>
      </li>
    </ul>
  </div>
</nav>
