<div class="container d-flex justify-content-center align-items-center" style="height: 92.5vh; ">
  <div class="card shadow p-4" style="width: 100%; max-width: 400px;">
    <h3 class="text-center mb-4">Vet System Login</h3>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="username" class="form-label">Email address</label>
        <input type="username" id="username" formControlName="username" class="form-control" placeholder="Enter email" required>
      </div>
      @if (shouldProcessControlValidationMessages("username")) {
        <div class="text-danger small mt-1">
          @if (loginForm.get("username")!.hasError("required")) {
            Username is required!
          }
        </div>
      }

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" id="password" formControlName="password" class="form-control" placeholder="Enter password" required>
      </div>
      @if (shouldProcessControlValidationMessages("password")) {
        <div class="text-danger small mt-1">
          @if (loginForm.get("password")!.hasError("required")) {
            password is required!
          }
        </div>
      }
      <button type="submit" class="btn btn-primary w-100" [disabled]="!loginForm.valid">Login</button>
    </form>

  </div>
</div>
